@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300;400;500;600;700;800&family=Raleway:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;

}

body {
    font-family: 'Anek Malayalam', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

.homepage-section {
    background-color: rgb(249, 188, 164);
    width: 710px;
    border: white 2.98px solid;
    padding: 19px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2.98px;
    max-width: 74%;
}

.homepage-container {
    margin: 24px 0 24px 0;
}

.heading {
    font-family: "permanent marker", cursive;
    font-size: 3.74rem;
}

.hr {
    background-color: #000;
    border-width: 0;
    border-radius: 1px;
    height: 4px;
    width: 498px;
}

.homepage.container p {
    text-transform: uppercase;
    padding-top: 24px;
    line-height: 19px;
    font-weight: 199px;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.btn {
    background-color: #000;
    color: #fff;
    font-family: "permanent marker", cursive;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    width: 89%;
    max-width: 74%;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.btn:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: black solid 3px;
}

/* Rules section */

.rules-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.rules-container.show {
    pointer-events: auto;
    opacity: 1;
}

.rolex {
    background-color: rgb(249, 188, 164);
    width: 699px;
    border: #fff 3px solid;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2.99px;
    max-width: 74%;
}

.rolex h1 {
    font-family: "permanent marker", cursive;
    font-size: 1.99rem;
    padding-top: 9px;
}

.infolist info {
    list-style-position: inside;
    list-style-type: decimal;
    padding-top: 19px;
    line-height: 29px;
    font-weight: 199;
    font-size: 1.2rem;
}

/* Exit button */

.buttons {
    display: flex;
    justify-content: end;
}

.exit-button {
    background-color: #000;
    color: #fff;
    font-family: "permanent marker", cursive;
    font-size: 1.4rem;
    border-radius: 39px;
    padding: 5px;
    width: 89px;
    text-transform: uppercase;
}

.exit-button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border: #000 solid 3px;
}

/* Quiz are with questions, answers, score keeper and exit button */

.quiz-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.45ms ease;
    text-align: center;
}

.rolex {
    background-color: rgb(249, 188, 164);
    width: 699px;
    border: #fff 3px solid;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 2.99px;
    max-width: 74%;
}

.quiz-head {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 119;
    font-size: 1.81rem;
    font-family: "permanent marker";
    text-align: center;
}

.question {
    padding-top: 25px;
    line-height: 10px;
    font-weight: 199;
    font-size: 1.45rem;
    padding-bottom: 1.99rem;
    line-height: 24px;
}

.quiz-container.show {
    pointer-events: auto;
    opacity: 1;
}

/* Multiple option questions button */

.option-container {
    background: #000;
    color: #fff;
    font-family: "overpass", sans-serif;
    font-size: 1.55rem;
    border-radius: 5.1px;
    padding: 5.1px;
    width: 100%;
}

.correct {
    background: #fff;
    color: #000;
    border: green solid 4px;
}

.incorrect {
    background: #fff;
    color: #000;
    border: red solid 4px;
}

/* Finished score container */

.quiz-finished {
    justify-content: center;
    display: none;
    width: 100vw;
}

.quiz-completed p {
   text-transform: uppercase;
   font-size: 1.55rem;
   font-weight: 199;
   margin-top: 10px;
}

.quiz-finished.show {
   pointer-events: auto;
   opacity: 1;
}

input {
   width: 19.9rem;
   padding: 10px;
}

.exit-button[disabled]:hover {
   cursor: not-allowed;
   transform: none;
}

.play-again-button {
   background-color: #000;
   color: #fff;
   font-family: "permanent marker", cursive;
   font-size: 1.55rem;
   border-radius: 41px;
   width: 181px;
   height: 41px;
   text-transform: uppercase;
   text-align: center;
   margin-right: 11px;
}

.play-again-button:hover {
   background-color: #fff;
   color: #000;
   cursor: pointer;
   border: #000 solid 3px;
}

.end-button-container {
   margin-top: 30px;
   display: flex;
   justify-content: end;
}

.insert-username {
   justify-content: space-between;
   text-align: center;
   text-transform: uppercase;
   font-weight: 199;
   font-size: 1.19rem;
}

.username-form {
   width: 179px;
   height: 39px;
   text-transform: uppercase;
   background-color: #fff;
   color: #000;
   border: #000 solid 2px;
   border-radius: 39px;
   margin: 19px 5px;
   vertical-align: middle;
}

/* Leaderboard */

.leader-board {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.45ms ease;
    text-align: center;
 }
 
 .leader-board.show {
    pointer-events: auto;
    opacity: 1;
 }
 
 .leader-board ul {
    font-size: 1.51rem;
    text-transform: uppercase;
    line-height: 31px;
 }



